/* CrudTable */
.pagination a { cursor: pointer; }

.treasure-overlay-spinner-container {
  z-index: 9;
}

.tbl-hdr>thead>tr>td,
.tbl-hdr>thead>tr>th,
.tbl-hdr>tbody>tr>td,
.tbl-hdr>tbody>tr>th
{
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .table-responsive>.crud-table>tbody>tr>td
  {
    white-space: normal;
  }
}

.tbl-fixed {
  min-height:250px
}

.col-header {
  padding-right: 10px;
}

/* Pagination */
ul.pagination {
  display : inline-block;
  padding : 0;
  margin  : 0;
}

ul.pagination li {
  display : inline;
}

ul.pagination li a {
  color           : black;
  float           : left;
  padding         : 8px 16px;
  text-decoration : none;
  transition      : background-color .3s;
}

ul.pagination li a.active {
  background-color : #4CAF50;
  color            : white;
}

ul.pagination li a:hover:not(.active) {
  background-color : #ddd;
}